body{
    font: 12px;
}

.form-container {
    background-color: #ffffff;
    width: 600px;
    margin: 100px auto 10px auto;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px -3px #333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.form-input {
    border-radius: 30px;
    padding: 10px 15px;
    width: 50%;
    border: 1px solid #D9D9D9;
    outline: none;
    margin: 5px auto 5px auto;
    font-size: 14px;
}

.session-submit {
    border-radius: 30px;
    border: none;
    background: #FF0000;
    width: 50%;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px #282828;
    display: block;
    margin: 55px auto 10px auto;
}

.alternative {
    font-size: 12px;
}

.alternative:hover {
    text-decoration: underline;
}

.error-messages{
    font-size: 10px;
    color: #FF0000;
}





