*{
    box-sizing: border-box;
}

.edit-video{
    margin-left:150px;
    padding-right: 40%
}

.edit-title{
    font-size: 14px;
    border: solid 1px #ccc;
    height: 30px;
    text-align: justify;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block
}

.edit-description{
    font-size: 14px;
    border: solid 1px #ccc;
    height: 30px;
    text-align: justify;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block
}

.edit-video-form button{
    font-size: 14px;
    font-weight: 700;
    background-color: #eee;
    color: #606060;
    height: 30px;
    width: 100px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.edit-video button{
    font-size: 14px;
    font-weight: 700;
    background-color:#eee;
    color: #606060;
    height: 30px;
    width: 100px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-video button:hover, .edit-video-form button:hover {
    background-color: #065fd4;
    color: white;
}

.edit-video-clip{
    width: 100%;
}

