.upload-header{
    height: 40px;
    float: left;
    font-size: large;
    font-weight: bold;
    padding: 20px 16px 0 24px;
    width: 90%;
}

/* .create-video-step1 */
.create-video-step1, .create-video-step2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


.fa-arrow-circle-up:before{
    color: #606060;
    height: 200px;
    align-items: center;
    display: flex;
}

h5 {
    margin: 5px;
}

p {
    font-size: 12px;
    margin: 5px;
    display: flex;
    align-content: center;
}

.select-files-btn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.select-files-btn + .select-files-label {
    font-size: 14px;
    font-weight: 700;
    background-color: #065fd4;
    color: white;
    display: inline-block;
    margin: 20px;
    height: 30px;
    width: 130px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.select-files-label:hover {
    cursor: pointer;
}

/* .create-video-step2 */

.upload-form-content{
    display:flex;
    justify-content: center;
}








